/* ====== FEATURES SECTION ======= */
.about__features {
    margin-top: 7rem;
}

.about__features-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__features-right p {
    margin-top: 1.6rem 0 2.5;
    color: black;
}

.features__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 4rem;
}

.feature__card {
    background: var(--color-purple);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.feature__card:hover {
    background: rgb(45, 27, 94);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.feature__icon {
    background: red;
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.feature__card:nth-child(2) .feature__icon {
    background: rgb(234, 77, 215);
}

.feature__card:nth-child(3) .feature__icon {
    background: rgb(32, 182, 15);
}


/* ======== TEAM SECTION ========*/
.team {
    background: var(--color-purple);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    margin-top: 8rem;
    margin-bottom: 12rem;
}

.team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team__member {
    background: rgb(84, 57, 156);
    border: 1px solid transparent;
    padding: 2rem;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.team__member:hover {
    background: transparent;
    border-color: rgb(84, 57, 156);
}

.team__member-image img {
    filter: saturate(0);
    height: 220px;
}

.team__member:hover img {
    filter: saturate(1)
}

.team__member-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.team__member-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: rgb(84, 57, 156);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition)
}

.team__member-socials a {
    padding: 1rem;
}

.team__member:hover .team__member-socials {
    right: 0;
}



/*======== MEDIA QUERIES FOR TABLETS ========*/
@media  screen and (max-width: 1024px) {
    .about__features{
        margin-top: 2rem;
    } 

    .about__features-container{
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about__features-left{
        width: 80%;
        margin: 0 auto;
    }

    .team__container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team__member{
        padding: 1rem;
    }
}



/*======== MEDIA QUERIES FOR MOBILE PHONES ========*/
@media  screen and (max-width: 600px) {
   .features__cards{
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
   }

   .team__container{
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
   }

   .team__member{
    padding: 0;
   }

   .team__member p{
    margin-bottom: 1.5rem;
   }
}